common --enable_bzlmod

# this is to pass build metadata to BuildBuddy and other parties
build --workspace_status_command="build-support/workspace-status.sh

test --test_output=all
test --test_summary=detailed
test --test_arg=-test.v

# Windows builds only; by default, a Linux compatible platform is used
common:windows --platforms=//platforms:windows

# For Docker builds only
# It seems having platform.exec_properties attribute defined is not enough:
# a Docker image needs to be specified even when not using RBE otherwise the following error
# is raised: (20:41:20) ERROR: GoToolchainBinaryBuild external/rules_go~~go_sdk~workspace__download_0/builder 
# [for tool] failed: Cannot execute GoToolchainBinaryBuild mnemonic with Docker, because no image could be 
# found in the remote_execution_properties of the platform and no default image was set via --experimental_docker_image
common:docker --platforms=//platforms:docker
common:docker --spawn_strategy=docker
common:docker --experimental_enable_docker_sandbox
common:docker --experimental_docker_image="golang:1.22"

# BuildBuddy remote cache configuration (read&write)
build:bb --bes_results_url=https://app.buildbuddy.io/invocation/
build:bb --bes_backend=grpcs://remote.buildbuddy.io
build:bb --remote_cache=grpcs://remote.buildbuddy.io
build:bb --remote_timeout=3600

# BuildBuddy remote cache/execution recommended flags 
build:bb --remote_cache_compression
build:bb --experimental_remote_cache_compression_threshold=100
build:bb --nolegacy_important_outputs

try-import %workspace%/.bazelrc.ci
