common --enable_bzlmod

# this is to pass build metadata to BuildBuddy and other parties
build --workspace_status_command="build-support/workspace-status.sh

test --test_output=all
test --test_summary=detailed
test --test_arg=-test.v

# Windows builds only; by default, a Linux compatible platform is used
common:windows --platforms=//platforms:windows

# For Docker builds only
common:docker --platforms=//platforms:docker

# BuildBuddy remote cache configuration (read&write)
build --bes_results_url=https://app.buildbuddy.io/invocation/
build --bes_backend=grpcs://remote.buildbuddy.io
build --remote_cache=grpcs://remote.buildbuddy.io
build --remote_timeout=3600

# BuildBuddy remote cache/execution recommended flags 
build --experimental_remote_cache_compression
build --experimental_remote_cache_compression_threshold=100
build --nolegacy_important_outputs

try-import %workspace%/.bazelrc.ci
