common --enable_bzlmod

# this is to pass build metadata to BuildBuddy and other parties
build --workspace_status_command="build-support/workspace-status.sh

test --test_output=all
test --test_summary=detailed
test --test_arg=-test.v

try-import %workspace%/.bazelrc.ci
